{% extends 'LdapUiBundle::layout.html.twig' %}

{% block title %}{{ 'Browser' | trans }}{% endblock %}
{% block containerclass %}container-fluid{% endblock %}
{% block body %}
    <div class="row">
        <div class="panel-container">

            <div class="panel-left">
                <div id="jstree"></div>
            </div>

            <div class="splitter">
            </div>

            <div class="panel-right">
                <table id="browser-table" class="table table-hover" cellspacing="0" width="100%">
                    <thead class="thead-light">
                        <tr>
                            <th>{{ 'Name' | trans }}</th>
                            <th>{{ 'Type' | trans }}</th>
                            <th>{{ 'Description' | trans }}</th>
                            <th>{{ 'Actions' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze" output="js/vendor.browser.min.js"
    'vendor/select2/js/select2.js'
    'vendor/jstree/js/jstree.js'
    'vendor/datatables/js/datatables.js'
    '@LdapUiBundle/Resources/public/js/vendor/jquery-resizable.js'
    '@LdapUiBundle/Resources/public/js/browser.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="?scssphp,cssrewrite" output="css/browser.css"
    'vendor/datatables/css/datatables.css'
    'bundles/ldapui/css/browser.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}