{% extends 'LdapUiBundle::layout.html.twig' %}

{% block title %}{{ 'Login' | trans }}{% endblock %}
{% block body %}
    {% if error %}
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="loginError card rounded-0 text-white bg-warning">
                            <div class="card-header">
                                <h3 class="mb-0">{{ 'Error' | trans }}</h3>
                            </div>
                            <div class="card-body">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <span class="anchor" id="formLogin"></span>
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">{{ 'Login' | trans }}</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" action="{{ path('login') }}" method="post" id="formLogin">
                                <div class="form-group">
                                    <label for="uname1">{{ 'Domain' | trans }}</label>
                                    <select id="_ldap_domain" name="_ldap_domain" class="form-control form-control-lg rounded-0">
                                    {% for domain, label in availableDomains %}
                                        <option value="{{ domain }}">{{ domain }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="uname1">{{ 'Username' | trans }}</label>
                                    <input type="text" id="username" name="_username" class="form-control form-control-lg rounded-0" required="" value="{{ lastUsername }}">
                                </div>
                                <div class="form-group">
                                    <label>{{ 'Password' | trans }}</label>
                                    <input type="password" id="password" name="_password" class="form-control form-control-lg rounded-0" required="" autocomplete="new-password">
                                </div>
                                {# See: https://github.com/ldaptools/ldaptools-bundle/issues/21
                                <div>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description small">Remember me on this computer</span>
                                    </label>
                                </div>
                                #}
                                <button type="submit" class="btn btn-success btn-lg float-right">{{ 'Login' | trans }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="?scssphp,cssrewrite" output="css/login.css"
    'bundles/ldapui/css/login.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}