<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block head %}{% endblock %}
    <title>{% block title %}Test Application{% endblock %}</title>
    <meta name="description" content="LdapUi">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% image '@LdapUiBundle/Resources/public/favicons/apple-touch-icon.png' %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset_url }}">
    {% endimage %}
    {% image '@LdapUiBundle/Resources/public/favicons/favicon-32x32.png' %}
    <link rel="apple-touch-icon" sizes="32x32" href="{{ asset_url }}">
    {% endimage %}
    {% image '@LdapUiBundle/Resources/public/favicons/favicon-16x16.png' %}
    <link rel="apple-touch-icon" sizes="16x16" href="{{ asset_url }}">
    {% endimage %}
    {% image '@LdapUiBundle/Resources/public/favicons/favicon-256x256.png' %}
    <link rel="icon" type="image/png" sizes="256x256" href="{{ asset_url }}">
    {% endimage %}
    {% stylesheets '@LdapUiBundle/Resources/public/favicons/manifest.json' filter="cssrewrite" output="manifest.json" %}
    <link rel="manifest" href="{{ asset_url }}">
    {% endstylesheets %}
    {% image '@LdapUiBundle/Resources/public/favicons/safari-pinned-tab.svg' %}
    <link rel="mask-icon" href="{{ asset_url }}" color="#5bbad5">
    {% endimage %}
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
    {% stylesheets filter="?scssphp,cssrewrite" output="css/vendor.css"
    'vendor/select2/css/select2.css'
    'vendor/jstree/css/style.css'
    'vendor/bootstrap/css/bootstrap.css'
    %}
    {% stylesheets filter="?scssphp,cssrewrite" output="css/app.css"
    'bundles/luftgebuff/css/main.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% javascripts filter="?jsqueeze" output="js/vendor.min.js"
    'vendor/jquery/js/jquery.js'
    'vendor/bootstrap/js/bootstrap.js'
    'vendor/select2/js/select2.js'
    'vendor/select2/js/select2-l18n.js'
    'vendor/jstree/js/jstree.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts filter="?jsqueeze" output="js/app.min.js"
    '@LdapUiBundle/Resources/public/js/main.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
</head>
<body>

{% include 'LdapUiBundle:Menu:topnav.html.twig' %}

<main role="main" class="container">
    {% block body %}{% endblock %}
</main>

</body>
</html>